//COLOURS
$color-white: #fff;
$light-grey:#d7dfd7;
$dark-green:#1e452f;
$light-green:#5daa7e;

//GRID
$grid-width: 114rem;
$gutter-vertical:8rem;
$gutter-horizontal: 6rem;


//PADDING
$padding-default: 25rem 0;