.footer {
    background-color: $light-grey;

    &__social{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &--icon {
            margin: 2rem;
            height: 5rem;
            width: 5rem;
            fill: $dark-green;
            transition: all .5s;

            &:hover {
                transform: translateY(-2.5rem);
            }
        }

    }  
}