.header {
    height: 100vh;
    padding: $padding-default;
    position: relative;

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        text-transform: uppercase;

    }
}