.card {
    //FUNCTIONALITY 

    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 70vh;
    width: 40vw;
    margin-bottom: 3rem;

    @media (max-width: 1029px) {
        width: 75vw;
        margin-bottom: 6rem;
    }

    @media (max-width: 700px) {
        height: 70vh;
        margin-bottom: 3rem;
    }

    &__side {
        height: 70vh;
        transition: all 1.5s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
            padding: 2rem;
            position: relative;
            text-align: center;
        }
    
        &--back {
            transform: rotateY(180deg);
            background-color: $color-white;
            text-align: center;
            padding: 2rem;
        }
    }

    
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    &__img{
        height:35rem;
        border-radius: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
      }
}


.projects {

    &__card {
        perspective: 150rem;
        -moz-perspective: 150rem;
        position: relative;
        height: 70vh;
        width: 40vw;
        padding: 2.5rem;
        margin-bottom: 7rem;
        text-align: center;
        border-radius: 3px;
        box-shadow: 0 0 3rem rgba(0,0,0,.4);
        background-color: $color-white;

        &--side {
           position: relative;
           height: 70vh;
           top: 0;
           left: 0;
           width: 100%;
           backface-visibility: hidden;
           transition: all 1s ease;
           overflow: hidden;
           background-color: $color-white;
        }

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);
            background-color: $color-white;
        }

        &:hover &__side--front {
            transform: rotateY(-180deg);
        }
    
        &:hover &__side--back {
            transform: rotateY(0);
        }

        
    }
}

.videoInsert {
    width: 100%;
 }