body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    padding: 1.5rem;
 }

 .heading{
  margin-bottom: 3rem;

   &__primary {
      color: $dark-green;
      letter-spacing: 8px;
 
      &--main {
         display: block;
         font-size: 6rem;
         font-weight: 800;
      } 
 
      &--sub {
         display: block;
      }
   }

   &__secondary {
      color: $dark-green;
      display: inline-block;
      font-size: 4rem;
      font-weight: 800;
   }
}

 .name-1 {
   animation: moveInLeft 1s ease-in;
 }

 .name-2 {
   animation: moveInRight 1s ease-in;
 }